/* styles/layout.module.css */

.container {
    min-height:100vh;
    width: 100%;
    display: flex;
}

.main {
    width: 100%;
}

.footer {
    min-height:100px;
    width: 100%;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    margin-left: 0.5rem;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
